# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.txt
# Ignorar todos los archivos que terminan en .log
*.log
# Ignorar todos los archivos que terminan en .map
*.map
# Ignorar todos los archivos que contienen comentarios con //
**/*.js//*
# Ignorar todos los archivos que contienen comentarios con /*
**/*.js/*
# Ignorar la carpeta node_modules
/node_modules/
# Ignorar el archivo .env.local
.env.local